
body{
  background-color: #dcd9d9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul.menu {
  display: flex;
  gap: 1em;
  border-bottom: 3px #333232 solid;
  padding-bottom: .5em;
  padding-left: 0;
}

ul li {
  list-style: none;
  padding: .5em 0 ;
}

table {
  border: 1px solid hsl(350, 94%, 25%);
  border-collapse: collapse;
}

td,
th {
  border: 1px solid rgb(136, 12, 33);
}

a{
  background-color: greenyellow;
  padding: .5em 1em;
  border-radius: .4em;
  transition: all ease-in-out .6s;

}

a:hover{
  background-color: #333232;
  color: #fff;
  text-decoration: none;
}

thead{
  background-color: #333232;
  color: #fff;
}
tbody{
  background-color: #8cff00;
}

footer{
  opacity: .4;
  font-size: .8em;
}

img.img-perfil{
  width: 90px;
  border-radius: .4em;
}
